@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

$Basic_font: 'Source Sans Pro', sans-serif;
$basic_color1:rgb(255,188,98);
$basic_color2:rgb(71, 71, 71);
$basic_color3:rgb(221, 221, 221);
$background: rgb(251, 251, 251);
%component_btn{
    background-color: $basic_color1;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: $Basic_font;
    color: white;
    font-size: 10px;
    font-weight: 600;   
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: white;
}

.contentainer_header {
    height: 240px;
    width: 100%;
}

a {
    text-decoration: none;
    font-family: $Basic_font;
    color: rgb(71, 71, 71);  
}

.language_curency {
    background-color: white;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content:space-between;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
    a:nth-child(1), a:nth-child(3) {
        font-weight: bold;
    }
    a:nth-child(2), a:nth-child(4) {
        font-weight: 300;
    }
}

.header {
    display: flex;
    height:160px;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: $background;
    .servises{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        flex: 2;
        p {
            font-family: $Basic_font;
            font-weight: 300;
        }
        .user_reg {
            width: 100%;
            height: 40px;
            .user_icon {
                position: relative;
                top: 20px;
                width: 17px;
                height: 18px;
            }
            p{
                margin:-2px;
                position: relative;
                left: 25px;
            }
            span {
                font-family: $Basic_font;
                background-color: $basic_color1;
                color:white;
                font-weight: 600;
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        .phone_number{
            width: 100%;
            height: 50px;
            .phone_icon {
                position: relative;
                top: 20px;
                width: 21px;
                height: 21px;  
            }
            p {
                position:relative;
                letter-spacing: 1px;
                margin: 0px;
                top: -8px;
                left:25px;
                width: 100%;
                height: 21px;
            }
        }
        .search_form{
            width: 100%;
            height: 50px;
            .search_icon {
                display: block;
                background-image: url("/img/icons/search_icon.png");
                background-color: transparent;
                width: 17px;
                height: 16px;
                border: none;
                padding: 0px;
                position: relative;
                top:calc(50% - 8px);
                left:calc(57%);
                z-index: 2;
            }
            input{
                position:relative;
                top: -10px;
                left: 0%;
                background-color: rgb(251, 251, 251);
                border: 1px solid rgb(221, 221, 221);
                width: 65%;
                height: 42px;
                outline: none;
                z-index: 1;
            }
        }
    }

    //блок логотипа по центру
    .logo {
        //flex:1;
        img {
            position: relative;
            top: -20px;
        }
    }

    // правый верхний блок
    .purches {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        justify-content:space-around;
        flex: 2; 
        .cart_button {
            display: flex;
            flex:1;
            flex-direction: row;
            justify-content: center;
            align-items:flex-end;
            flex-wrap: wrap;
            button{
                font-family: $Basic_font;
                font-weight: 300;
                border: 0px;
                background-color: rgb(251, 251, 251);
                color: $basic_color2;
                line-height: 30px;
                text-align: center;
            }
            .wish::before {
                background: transparent no-repeat;
                content: "";
                background-image: url("/img/icons/wishlist_icon.png") ;
                width: 20px;
                height: 17px;
                display: inline-block;
                padding-right: 5px;
                position: relative;
                top: 3px;
            }
            .shoping_cart::before{
                background: transparent no-repeat;
                content: "";
                background-image: url("/img/icons/cart_icon.png");
                width: 16px;
                height: 21px;
                display: inline-block;
                padding-right: 5px;
                position: relative;
                top:3px;
            }
        }
        .product_links {
            display: flex;
            flex-direction: row;
            flex:1.5;
        }
        .links{
            display: flex;
            flex-direction: row;
            flex:1;
        }
    }
}

//блок меню
.container_nav {
    display: block;
    border-bottom: 5px solid $basic_color1;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
    height: 40px;
    background-color: $background;
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        flex: auto;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 5px;
        margin: 0px;
        li{
            font-weight: bold;
            list-style-type: none;
        }
    }
}

/*Блок ниже меню*/
.main {
    display: flex;
    flex-direction: column;
    //width: 100%;
    height: 2495px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: $background;
    .block {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 20px;
        justify-content: center;
        .colection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("/img/main_screen/Layer_68.png") ;
            opacity: 0.7;
            background-size: cover;
            width: 287px;
            height: 680px;
            .paragraphy-small, .paragraphy-large {
                margin: 0px;
                font-family:  $Basic_font;
                color: black;
                font-weight: 600;
            }
            .paragraphy-small{
                margin-bottom: 10px;
                font-size: 1rem;
                letter-spacing: 7px;
            }
            .paragraphy-large {
                font-size: 2rem;
               margin-top: 200px;
            }
            &:hover {
                opacity: 1;
            }
            .colection_button {
                @extend %component_btn;
            }
            
        } 
        .colection_sale{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
            flex:4;
            gap:20px; 
            .sale_1 {
                background-image: url("/img/main_screen/fashion.png");
                background-size: contain;
                opacity: 0.7;
                width: 564px;
                height: 362px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .paragraphy_sale {
                    font-family:  $Basic_font;
                    font-weight:600;
                    font-size: 7rem;
                    margin-bottom: 0px;
                    position: relative;
                    z-index: 2;
                }
                .sale_button {
                    font-family:  $Basic_font;
                    font-weight:600;
                    color: white;
                    letter-spacing: 10px;
                    background-color: $basic_color1;
                    width: 350px;
                    text-align: center;
                    line-height: 50px;
                    position: relative;
                    top: -20px;
                    z-index: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
            .sale_2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-image: url("/img/main_screen/Vero-Moda-Black-Poly-Mid-Rise-Jeans-9316-626324-1-product2.png");
                background-size: contain;
                opacity: 0.7;
                width: 290px;
                height: 362px;
                .paragraphy_sale_small {
                    font-family:  $Basic_font;
                    font-weight: 300;
                    font-size: 1.3rem;
                    letter-spacing: 10px;
                    margin: -15px;
                }
                .paragraphy_sale_large {
                    font-family:  $Basic_font;
                    font-weight: 600;
                    font-size: 2.5rem;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                &:hover {
                    opacity: 1;
                }
                .colection_button {
                    @extend %component_btn;
                    margin-bottom: 27px;
                }
            }
            .sale_3{
                background-image: url("/img/main_screen/black-bag-fashion.png");
                background-size: contain;
                width: 283px;
                height: 297px;
            }
            .sale_4{
                background-image: url("/img/main_screen/fashionable-shoes.png");
                background-size: contain;
                width: 571px;
                height: 297px;
            }
        }
    }
    .check_products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:1267px;
        .box_sort{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 175px;
            .sorted {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 125px;
                gap: 10px;
                position: relative;
                top: 25px;
                p {
                    margin: 0px;
                }
                .divider{
                    width:2px;
                    border-left: 2px solid $basic_color3;
                    height: 40px;
                }
                .change {
                    background-image: url("/img/icons/arrow_down.png");
                    background-size: contain;
                    background-color: transparent;
                    width: 17px;
                    height: 10px;
                    border: none;
                }
                .changed_product {
                    font-family: $Basic_font;
                    font-size: 3rem;
                    margin-bottom: 5px;
                    &:nth-child(1){
                        font-weight: 600;
                        color: black;
                    }
                    &:nth-child(2){
                        font-weight: 300;      
                    }
                }
            }
            .inscription {
                font-family: $Basic_font;
                font-style: italic;
                width: 100%;
                height: 50px;
                text-align: center;
            }
        }
        .cards {
            display: grid;
            grid-template-columns:repeat(4,285px);
            grid-template-rows: repeat(2,420px);
            width:100%;
            height: 840px;
            gap:10px;
            .box_card {
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0.6;
                background-color: white;
                font-family: $Basic_font;
                img {
                    width: 100%;
                    height: 290px;
                    background-color: $basic_color3;
                    border: 0px;
                }
                .divider {
                    width: 50px;
                    height: 2px;
                    border-top: 2px solid $basic_color3;
                    margin-top: 5px;     
                }
                .detail {
                    width: 60px;
                    height: 12px;
                    background-color: transparent;
                    margin-top: 5px;
                }
                .name_product{
                    flex:1;
                    text-align: center;
                    line-height: 44px;
                    font-size: 1rem;
                    font-weight: 600;
                }
                .price_product{
                    color: $basic_color2;
                    flex:1;
                    text-align: center;
                    line-height: 44px;
                }
                .add_to_cart {
                    background: transparent;
                    padding: 0px;
                    border: 0px;
                    flex:1;
                 }
                .add_to_wish {
                    flex:1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn {
                        background: transparent;
                        border: 0px;
                    }
                }
                &:hover{
                    //border: 6px solid $basic_color1;                    
                    //outline: 2px solid black;  //внешняя рамка
                    box-shadow:  0 0 0 6px $basic_color1, 0 0 0 8px black;
                    position: relative;
                    width: 100%;
                    height: 490px;
                    top: 0px;
                    z-index: 2;
                    background-color: white;
                    opacity: 1;
                    & .detail::after{
                        display: block;
                        content: 'DETAIL';
                        line-height: 12px;
                        text-align: center;
                        font-weight: 600;
                        font-size: 0.6rem;
                        width: 60px;
                        height: 12px;
                        background-color: black;
                        color: white;
                        border-radius: 6px;
                    }
                    
                    & .add_to_cart::after{
                        display: block;
                        content: 'ADD TO CART';
                        width: 150px;
                        height: 30px;
                        color: white;
                        font-weight: 600;
                        background-color: $basic_color1;
                        border: 0px;
                        line-height: 30px;
                        text-align: center;
                    }
                    & .btn::after {
                        display: block;
                        content: "ADD TO WISHLIST";
                        background: transparent no-repeat; 
                        font-size: 0.7rem;
                        color: $basic_color3; 
                        line-height: 30px;
                        text-align: center;
                        width: 100px;
                        height: 30px;                                                                     
                    }
                    & .add_to_wish::before {
                        display: block;
                        content: "";
                        background: transparent no-repeat; 
                        color: $basic_color3; 
                        background-image: url(img/icons/wishlist_icon2.png) ;
                        width: 21px;
                        height: 17px;                                                                     
                    }
                }
                &:hover::before {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: transparent no-repeat;
                    border: 1px solid $basic_color3;
                    background-image: url(img/icons/arrow_left.png) ;
                    position: absolute;
                    background-size: 10px 16px;
                    background-position: center center;
                    top:28%;
                    left: 2px;
                }
                &:hover::after {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: transparent no-repeat;
                    border: 1px solid $basic_color3;
                    background-image: url(img/icons/arrow_right.png);
                    position: absolute;
                    background-size: 10px 16px;
                    background-position: center center;
                    top:28%;
                    left: calc(100% - 28px);
                }
            }
        }
        
        .load_products {
            display: block;
            width: 100%;
            height: 125px;
            line-height: 125px;
            text-align: center;
            
            .btn{
                border: 0px;
                background: transparent;
                font-family: $Basic_font;
                font-size: 1.5rem;
                color: $basic_color2;
            }  
        }
    }
    .choose_category {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        font-family: $Basic_font;
        color: $basic_color2;
        background-color: white;
        width:100%;
        height: 125px;
        .inscription {
            display: block;
            margin: 0px;
            font-weight: 300;
            line-height: 125px;
            text-align: center;
            min-width: 200px;
        }
        .list {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            flex: 1;
            align-items: center;
            align-self:flex-end;
            justify-content: center;
            margin: 0px 0px 30px 0px;
            padding: 0px;
            gap: 100px;
            li { 
                font-size: 0.9rem;
                font-weight: 600;
            }
        }
    }
    .viewed{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 460px;
        font-family: $Basic_font;
        .latest {
            text-align: center;
            font-weight: 300;
            height: 125px;
            line-height: 125px;
            margin: 0px;
            text-align: center;
        }
        .cards_latest {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 335px;
            gap:10px;
            .card_one{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                p{
                    margin: 0px;
                }
                img {
                    width: 100%;
                    background-color: $basic_color3;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
                .divider {
                    width: 35px;
                    height: 2px;
                    border-top: 2px solid $basic_color3;
                    margin-top: 5px;     
                }
                .name_product{
                    flex:1;
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 15px;
                }
                .price_product{
                    flex:1;
                    
                }
                &:hover {
                    box-shadow: 0 0 0 6px $basic_color1, 0 0 0 8px black;
                }
            }
        }
    }
}
footer {
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    height: 520px;
    background-color: $background;
    font-family: $Basic_font;
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 240px;
        .divider{
            width: 50%;
            height: 2px;
            border-bottom: 2px solid $basic_color3;
        }
        .logo {
            width:154px;
            height: 158px;
        }
    }
    .about{
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        height: 240px;
        padding-left: 3%;
        padding-right: 3%;
        background-color: $background;
        gap:20px;
        flex: 1;
        p{
            font-weight: 600;
            color: $basic_color2;
            font-size: 1.1rem;
            letter-spacing: 1px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .box{
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .divider{
            width: 100%;
            height: 2px;
            border-bottom: 1px solid $basic_color3;
        }
        .links{
            display: inline-block;
            img{
                padding: 20px;
            }
        }
        .adress, .phone, .mailto {
            padding: 6px;
        }
        .first_name{
            color: rgb(110, 110, 110);
            margin: 0px;
        }
        
        .text {
            font-weight: 300;
            color: rgb(71, 71, 71); 
            margin: 0 0 3px 0   ;
            
        }
        .blank{
            margin-top: 10px;
            background-color: red;
        }
        
    }
    .payment{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: white;
        gap:20px;
    }
}