@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
.main .promo .sale_2 .colection_button, .main .promo .sale_0 .colection_button {
  background-color: rgb(255, 188, 98);
  width: 11.22vw;
  height: 2.24vw;
  line-height: 2.24vw;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 1vw;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  max-width: 1366px;
  margin: auto;
}

.contentainer_header {
  height: 240px;
  width: 100%;
}

#menu__toggle {
  opacity: 0;
}

a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(71, 71, 71);
}

.language_curency {
  background-color: white;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
  margin-right: 3%;
}
.language_curency a:nth-child(1), .language_curency a:nth-child(3) {
  font-weight: bold;
}
.language_curency a:nth-child(2), .language_curency a:nth-child(4) {
  font-weight: 300;
}

.header {
  display: flex;
  height: 160px;
  justify-content: space-around;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: rgb(251, 251, 251);
}
.header .servises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}
.header .servises p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}
.header .servises .user_reg {
  width: 100%;
  height: 40px;
}
.header .servises .user_reg .user_icon {
  position: relative;
  top: 20px;
  width: 17px;
  height: 18px;
}
.header .servises .user_reg p {
  margin: -2px;
  position: relative;
  left: 25px;
}
.header .servises .user_reg span {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(255, 188, 98);
  color: white;
  font-weight: 600;
  padding-left: 2px;
  padding-right: 2px;
}
.header .servises .phone_number {
  width: 100%;
  height: 50px;
}
.header .servises .phone_number .phone_icon {
  position: relative;
  top: 20px;
  width: 21px;
  height: 21px;
}
.header .servises .phone_number p {
  position: relative;
  letter-spacing: 1px;
  margin: 0px;
  top: -8px;
  left: 25px;
  width: 100%;
  height: 21px;
}
.header .servises .search_form {
  width: 100%;
  height: 50px;
}
.header .servises .search_form .search_icon {
  display: block;
  background-image: url(../source/img/icons/search_icon.png);
  background-color: transparent;
  width: 17px;
  height: 16px;
  border: none;
  padding: 0px;
  position: relative;
  top: calc(50% - 8px);
  left: 57%;
  z-index: 2;
}
.header .servises .search_form input {
  position: relative;
  top: -10px;
  left: 0%;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(221, 221, 221);
  width: 65%;
  height: 42px;
  outline: none;
  z-index: 1;
}
.header .logo img {
  position: relative;
  top: -20px;
}
.header .purches {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  flex: 2;
}
.header .purches .cart_button {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.header .purches .cart_button button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  border: 0px;
  background-color: rgb(251, 251, 251);
  color: rgb(71, 71, 71);
  line-height: 30px;
  text-align: center;
}
.header .purches .cart_button .wish::before {
  background: transparent no-repeat;
  content: "";
  background-image: url(../source/img/icons/wishlist_icon.png);
  width: 20px;
  height: 17px;
  display: inline-block;
  padding-right: 5px;
  position: relative;
  top: 3px;
}
.header .purches .cart_button .shoping_cart::before {
  background: transparent no-repeat;
  content: "";
  background-image: url(../source/img/icons/cart_icon.png);
  width: 16px;
  height: 21px;
  display: inline-block;
  padding-right: 5px;
  position: relative;
  top: 3px;
}
.header .purches .product_links {
  display: flex;
  flex-direction: row;
  flex: 1.5;
}
.header .purches .links {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.header .hamburger-menu {
  display: none;
}

.container_nav {
  display: block;
  border-bottom: 5px solid rgb(255, 188, 98);
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
  margin-right: 3%;
  height: 40px;
  background-color: rgb(251, 251, 251);
}
.container_nav .nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: auto;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 5px;
  margin: 0px;
}
.container_nav .nav_links li {
  font-weight: bold;
  list-style-type: none;
}

/*Блок ниже меню*/
.main {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(251, 251, 251);
}
.main .promo {
  display: grid;
  width: 100%;
  height: 64.37vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr);
  gap: 20px;
  padding-top: 20px;
}
.main .promo .sale_0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background: transparent no-repeat;
  background-image: url(../source/img/main_screen/Layer_68.png);
  background-size: cover;
  background-position: center;
}
.main .promo .sale_0 .paragraphy-small, .main .promo .sale_0 .paragraphy-large {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 600;
}
.main .promo .sale_0 .paragraphy-small {
  margin-bottom: 10px;
  font-size: 1vw;
  letter-spacing: 0.7vw;
}
.main .promo .sale_0 .paragraphy-large {
  font-size: 2vw;
  margin-top: 200px;
}
.main .promo .sale_0:hover {
  opacity: 1;
}
.main .promo .sale_1 {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent no-repeat;
  background-image: url(../source/img/main_screen/fashion.png);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}
.main .promo .sale_1 .paragraphy_sale {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 8vw;
  margin-bottom: 0px;
}
.main .promo .sale_1 .sale_button {
  display: block;
  width: 24.19vw;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.7vw;
  color: white;
  background-color: rgb(255, 188, 98);
  text-align: center;
  line-height: 3vw;
  z-index: 1;
}
.main .promo .sale_1:hover {
  opacity: 1;
}
.main .promo .sale_2 {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent no-repeat;
  background-image: url(../source/img/main_screen/Vero-Moda-Black-Poly-Mid-Rise-Jeans-9316-626324-1-product2.png);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}
.main .promo .sale_2 .paragraphy_sale_small {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  letter-spacing: 1vw;
  margin: -1vw;
}
.main .promo .sale_2 .paragraphy_sale_large {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main .promo .sale_2:hover {
  opacity: 1;
}
.main .promo .sale_2 .colection_button {
  margin-bottom: 27px;
}
.main .promo .sale_3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: transparent no-repeat;
  background-image: url(../source/img/main_screen/black-bag-fashion.png);
  background-size: cover;
  background-position: center;
}
.main .promo .sale_4 {
  grid-column: 3/5;
  grid-row: 2/3;
  background: transparent no-repeat;
  background-image: url(../source/img/main_screen/fashionable-shoes.png);
  background-size: cover;
  background-position: center;
}
.main .check_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main .check_products .box_sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 13.09vw;
}
.main .check_products .box_sort .sorted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.main .check_products .box_sort .sorted p {
  margin: 0px;
}
.main .check_products .box_sort .sorted .divider {
  width: 2px;
  border-left: 2px solid rgb(221, 221, 221);
  height: 8vh;
}
.main .check_products .box_sort .sorted .change {
  background: transparent no-repeat;
  background-image: url(../source/img/icons/arrow_down.png);
  background-size: contain;
  width: 17px;
  height: 10px;
  border: none;
}
.main .check_products .box_sort .sorted .changed_product {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5vw;
  margin-bottom: 5px;
}
.main .check_products .box_sort .sorted .changed_product:nth-child(1) {
  font-weight: 600;
  color: black;
}
.main .check_products .box_sort .inscription {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2vw;
  font-style: italic;
  width: 100%;
  text-align: center;
}
.main .check_products .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr);
  width: 100%;
  height: 61.49vw;
  gap: 10px;
}
.main .check_products .cards .card_item {
  height: 30.89vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  gap: 5px;
}
.main .check_products .cards .card_item .card_img {
  width: 100%;
  height: 22.22vw;
  background-color: rgb(221, 221, 221);
  border: 0px;
}
.main .check_products .cards .card_item .divider {
  width: 20%;
  height: 2px;
  border-top: 2px solid rgb(221, 221, 221);
}
.main .check_products .cards .card_item .detail {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 12px;
  background-color: transparent;
}
.main .check_products .cards .card_item .name_product {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}
.main .check_products .cards .card_item .name_product .price_product {
  display: block;
  color: rgb(71, 71, 71);
  text-align: center;
}
.main .check_products .cards .card_item .add_to_cart {
  background: transparent;
  padding: 0px;
  border: 0px;
}
.main .check_products .cards .card_item .add_to_wish {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .check_products .cards .card_item .add_to_wish .btn {
  background: transparent;
  border: 0px;
}
.main .check_products .cards .card_item:hover {
  height: 34.87vw;
  box-shadow: 0 0 0 6px rgb(255, 188, 98), 0 0 0 8px black;
  position: relative;
  width: 100%;
  top: 0px;
  z-index: 2;
  background-color: white;
  opacity: 1;
}
.main .check_products .cards .card_item:hover .detail::after {
  display: block;
  content: "DETAIL";
  text-align: center;
  font-weight: 600;
  font-size: 0.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.main .check_products .cards .card_item:hover .add_to_cart::after {
  display: block;
  content: "ADD TO CART";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 0.7em;
  color: white;
  font-weight: 600;
  background-color: rgb(255, 188, 98);
  border: 0px;
  text-align: center;
}
.main .check_products .cards .card_item:hover .btn::after {
  display: block;
  content: "ADD TO WISHLIST";
  background: transparent no-repeat;
  font-size: 0.7em;
  color: rgb(221, 221, 221);
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.main .check_products .cards .card_item:hover .add_to_wish::before {
  display: block;
  content: "";
  background: transparent no-repeat;
  color: rgb(221, 221, 221);
  background-image: url(../source/img/icons/wishlist_icon2.png);
  width: 21px;
  height: 17px;
}
.main .check_products .cards .card_item:hover::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: transparent no-repeat;
  border: 1px solid rgb(221, 221, 221);
  background-image: url(../source/img/icons/arrow_left.png);
  position: absolute;
  background-size: 10px 16px;
  background-position: center center;
  top: 28%;
  left: 2px;
}
.main .check_products .cards .card_item:hover::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: transparent no-repeat;
  border: 1px solid rgb(221, 221, 221);
  background-image: url(../source/img/icons/arrow_right.png);
  position: absolute;
  background-size: 10px 16px;
  background-position: center center;
  top: 28%;
  left: calc(100% - 28px);
}
.main .check_products .load_products {
  display: block;
  width: 100%;
  line-height: 125px;
  text-align: center;
}
.main .check_products .load_products .btn {
  border: 0px;
  background: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3vw;
  color: rgb(71, 71, 71);
}
.main .choose_category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(71, 71, 71);
  background-color: white;
  width: 100%;
  height: 125px;
}
.main .choose_category .inscription {
  display: block;
  margin: 0px;
  font-weight: 300;
  line-height: 125px;
  text-align: center;
  min-width: 14.64vw;
}
.main .choose_category .list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 0px 0px -30px 0px;
  padding: 0px;
}
.main .choose_category .list li {
  font-size: 0.9rem;
  font-weight: 600;
}
.main .viewed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.main .viewed .latest {
  font-size: 2em;
  text-align: center;
  font-weight: 300;
  line-height: 9.35vw;
  margin: 0px;
}
.main .viewed .cards_latest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.main .viewed .cards_latest .card_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.main .viewed .cards_latest .card_one p {
  margin: 0px;
}
.main .viewed .cards_latest .card_one img {
  width: 100%;
  background-color: rgb(221, 221, 221);
  opacity: 0.7;
}
.main .viewed .cards_latest .card_one img:hover {
  opacity: 1;
}
.main .viewed .cards_latest .card_one .divider {
  width: 35px;
  height: 2px;
  border-top: 2px solid rgb(221, 221, 221);
  margin-top: 5px;
}
.main .viewed .cards_latest .card_one .name_product {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}
.main .viewed .cards_latest .card_one .price_product {
  padding-bottom: 15px;
  font-size: 1em;
}
.main .viewed .cards_latest .card_one:hover {
  box-shadow: 0 0 0 6px rgb(255, 188, 98), 0 0 0 8px black;
}

footer {
  display: block;
  margin-left: 3%;
  margin-right: 3%;
  background-color: rgb(251, 251, 251);
  font-family: "Source Sans Pro", sans-serif;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
}
footer .footer .divider {
  width: 50%;
  height: 2px;
  border-bottom: 2px solid rgb(221, 221, 221);
}
footer .footer .logo {
  width: 154px;
  height: 158px;
}
footer .about {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(251, 251, 251);
  gap: 20px;
  flex: 1;
}
footer .about p {
  font-weight: 600;
  color: rgb(71, 71, 71);
  font-size: 1.3vw;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .about .box {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer .about .divider {
  width: 100%;
  height: 2px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
footer .about .links {
  display: inline-block;
}
footer .about .links img {
  margin: 1vw;
}
footer .about .adress, footer .about .phone, footer .about .mailto {
  padding: 6px;
  font-size: 1vw;
}
footer .about .first_name {
  color: rgb(110, 110, 110);
  margin: 0px;
}
footer .about .text {
  font-weight: 300;
  color: rgb(71, 71, 71);
  margin: 0 0 3px 0;
}
footer .about .blank {
  margin-top: 10px;
  background-color: red;
}
footer .payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: white;
  gap: 20px;
}

@media (max-width: 850px) {
  .header .purches {
    flex: none;
  }
  .header .purches .cart_button {
    flex: none;
  }
  .header .purches .product_links {
    display: none;
  }
  .header .purches .links {
    display: none;
  }
  .hamburger-menu {
    flex: none;
  }
  .user_reg, .phone_number {
    display: none;
  }
  .servises {
    order: 0;
  }
  .contentainer_header {
    height: auto;
  }
  .header {
    height: auto;
    justify-content: space-between;
    gap: 20px;
  }
  .header .logo {
    order: -1;
  }
  .header .logo img {
    width: 100px;
    height: 100px;
    position: static;
  }
  footer .footer .logo {
    width: 100px;
    height: 100px;
  }
  .header .servises {
    flex: 1;
  }
  .header .servises .search_form .search_icon {
    top: calc(50% - 10px);
    left: 84%;
  }
  .header .servises .search_form input {
    width: 100%;
  }
  .header .servises .search_form {
    height: auto;
  }
  footer .footer {
    height: 140px;
  }
  .container_nav .nav_links {
    justify-content: space-between;
    padding-left: 0;
  }
}
@media (max-width: 800px) {
  .main .check_products .cards {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .main .check_products .cards .card_item:hover {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .main .check_products .cards .card_item {
    height: auto;
  }
  .main .check_products .cards .card_item .card_img {
    height: auto;
  }
  .container_nav {
    background-color: rgb(251, 251, 251);
    height: 10px;
  }
  .container_nav .nav_links {
    display: none;
  }
  .header .hamburger-menu {
    display: flex;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 77px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 130px 0;
    list-style: none;
    text-align: center;
    background-color: rgb(255, 188, 98);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .menu__item {
    display: block;
    padding: 12px 0px 0 20px;
    color: #333;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: rgb(251, 251, 251);
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: calc(100% - 200px);
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media (max-width: 780px) {
  .main .promo {
    display: none;
  }
  footer .about .sales, footer .about .new {
    display: none;
  }
  footer .about p, footer .about .adress, footer .about .phone, footer .about .mailto {
    font-size: 1em;
  }
}
@media (max-width: 650px) {
  .header .servises {
    position: absolute;
    left: 37vw;
    width: 57vw;
  }
  .header .servises .search_form .search_icon {
    left: 89%;
    top: 18px;
    position: relative;
  }
  .header .purches {
    position: absolute;
    left: 37vw;
    top: 100px;
  }
  .menu__btn {
    top: 100px;
    right: 6vw;
  }
  .main .choose_category {
    display: none;
  }
  .main .check_products .box_sort {
    margin-top: 5px;
    margin-bottom: 5px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .main .check_products .box_sort .sorted .changed_product {
    font-size: 1.8em;
  }
  .main .check_products .box_sort .inscription {
    font-size: 0.6em;
  }
  .main .check_products .load_products .btn {
    font-size: 1.5em;
  }
}
@media (max-width: 450px) {
  .header .purches .cart_button .wish, .header .purches .cart_button .shoping_cart {
    font-size: 0.65em;
  }
}/*# sourceMappingURL=style.css.map */